*{
  padding: o;
  margin: 0;
  /* outline: solid 1px red  */
}

.container{
  height: 100vh;
  display: flex;

}

.row{
  display: flex;
  flex-direction: row;
  
}

.margin{
 margin: 1vh;
}
.margin1{
  margin-right: 15vh;
  margin-left: 10vh;
}

.marginh{
  margin: 1vh;
}
.marginf{
  margin-left: 30vh;
}

.colum{
  display: flex;
  flex-direction: column;
}
.simulalink{
  cursor: pointer;
  margin: 1vh;
}
.simulalink:hover{
  
  text-decoration:underline;}

.alinear{
  margin: auto;
  display: flex;
  flex-direction: row;
}

.img1{
  height: 3vh;
  width: 3vh;
}
